<div class="container px-5">
  <p id="notice"></p>
  <div class="row">
    <div class="col">
      <h2>Editing Book</h2>
      <%= form_with model: @book ,url: book_path(@book.id),method: :patch do |f| %>
          <div class"text-group mb-16">
          <label for="title">Title
          <imput type="text" id="title"><%= f.text_field :title %></imput>
          </label>
          </div>

          <div class"text-group">
          <label for="opinion">Opinion
          <imput type="text" id="opinion"><%= f.text_area :body %></imput>
          </label>
          </div>

          <%= f.submit "Update Book" ,class: "btn btn-sm btn-success bg-success" %>

        <% end %>
    </div>

  </div>
</div>